body {
    padding:20px !important;
    padding-left:10% !important;
    padding-right:10% !important;
}

#best_scores {
  height: 420px !important;
}

/* THREE COLUMNS LAYOUT */
#content {
  display:flex;
  flex-direction:row;
}

#right {
  flex-grow:0;
  width:20%;
}

#middle {
  flex-grow:1;
}

#left {
  flex-grow:0;
  width: 20%;
}

footer {
  margin-top: 10px;
  display:flex;
  flex-direction: row;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
}

#header_title {
  text-align: center;
}

#header_right {
  flex-grow:1;
  max-width:10%;
}

#header_left {
  flex-grow:1;
  max-width:10%;
}

/* FORM */
form {
  justify-content: center;
  display:flex;
  flex-direction:column;
}

.speaker_heare_img_lp img,
.meaning_chosen img,
.meaning_chosen_check img{
  width: 25px;
}

#speaker_hearer_block,
header{
  border-bottom: 1px solid darkgrey;
  margin-bottom: 10px;
}

#img_people_talking_container,
#language_progress,#best_scores_div{
	float: left;
  width: 100%;
}

.meaning_chosen_check{
  float: right;
}

h2#speaker_hearer_h2{
  margin: 0px;
  display: inline-block;
}

#speaker_hearer_h2 img{
  width: 20%;
  margin: 0px;
}

#speaker_hearer_text{
  padding-left: 15px;
}

#img_people_talking_container{
	margin-bottom: 15px;
}

#img_people_talking{
  width: 100%;
  max-width: 270px;
  box-sizing: border-box;
}

#language_progress,#best_scores_div{
  padding: 15px;
  text-align: left !important;
  width: 215px;
  height: 420px !important;
  box-sizing: border-box;
}

#language_progress,#best_scores_div{
	overflow-y: scroll;
	overflow-x: hidden;
}

#language_progress,#best_scores_div,
.meaning_img{
	border: 1px solid #000;
  background-color: #ddd;
}

.meaning_img{
	border-radius: 15px;
}

.meaning_img{
	float:left;
	margin-right: 15px;
	width: 6vw;
  height: 6vw;
  margin-top: 10px;

}

#word_speaker,
#word_hearer,
#meaning,
#show{
	margin-bottom: 5px;
}

div#word_speaker {
    padding-left: 15px;
}

.question_text,
#choose,
#show,
#button_next,
.button2,
#word_speaker,
#word_hearer,
#button_next_div,
#speaker_hearer_block{
	clear: both;
}

#show,
#choose,
#meaning,
#word_speaker,
#word_hearer,
#speaker_hearer_block{
	width: 100%;
  display: inline-block;
}

#past_interactions{
	margin-top: 0px;
  margin-bottom: 10px;
}

#speaker_hearer_block_inner{
  width: 100%;
}

#speaker_hearer_block_inner,
#show_inner,
#choose,
#show{
	text-align: center;
}

#meaning_inner,
#word_inner,
#word_inner_speaker,
#word_inner_hearer,
#show_inner{
	display: inherit;
}

.word_text{
	border: 1px solid #000;
	border-radius: 15px;
	padding: 8px;
	display: inline-block;
	float: left;
	text-align: center;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #ddd;
}

.button2 {
  color: #000;
  background: #57c5e6;
  padding: 8px 18px 8px 18px;
  border: solid #000000 1px;
  text-decoration: none;
  border-radius: 15px;
}

.button2:hover:not(:disabled) {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 1023px) {
  .meaning_img{
    width: 7vw;
    height: 7vw;
  }
}

/* for 480px or less */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
  #language_progress,#best_scores_div{
    width: 94%;
  }
  #content{
    width: 100%;
  }
  .meaning_img{
    width: 14vw;
    height: 14vw;
  }
  .word_text{
    width: 42%;
  }
}



.meaning_img{
    opacity: 0.5;
  }
.meaning_img.selected_m{
    opacity: 1;
    /*border-color: green;*/
    border-radius: 30px;
  }
.word_text.word_text_hearer.selected_w {
    width: 100%;
}
.word_text {
    width: 42%;
    opacity:0.7;
}

.word_text.selected_w {
    width: 42%;
    opacity:1;
    background:#ececec;
    /*border-color: green;*/
    border-radius: 30px;
}

.meaning_img:hover{
  /*border-color: red;*/
  opacity:1;
  cursor: pointer;
  cursor: hand;
}

.word_text.word_text_speaker:hover{
  /*border-color: red;*/
  opacity:1;
  background:#ececec;
  cursor: pointer;
  cursor: hand;
}

.button_action:disabled{
  opacity: 0.5;
}

html.wait, html.wait * { cursor: wait !important; }

.word_text.word_result{
  width:25%;
  vertical-align:text-bottom;
}

.meaning_result{
  width:12.5%;
  height:12.5%;
}

#result_inner{
  width:100%;
}

#result_inner,.text_result_inner{
  display:inherit;
}

.meaning_result,.word_result{
  margin-right: 0px;
  float:none;
}

.roleimg_result{
  height:12.5%;
}


.meaning_chosen_check_big{
  width:15%;
  margin-top: 20px;
}

.lang_button{
  display:none;
}

#img_home_others,#img_people_talking{
  width:70%;
}

#img_home_you{
  width:42%;
}

#img_home_others,.img_people{
  margin-top: 40px;
}

#sidebar.img_people{
  vertical-align: middle;
}

.img_interaction{
  width:90%;
}

#skipped_text{
  margin: 20px;
}

.numpastint{
  display:inline-block;
  width:25px;
}

.not_displayed{
  display:none;
}

.button_text_choose_xp {
    vertical-align: -webkit-baseline-middle;
}
.button_choose_xp{
  margin-right: 25px;
}
.button_choose_xp{
  vertical-align: text-bottom;
  float:left;
}
.choice_button_div{
  width:80%;
  height:60px;
}