{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title id="window_title"></title>
    <link rel="stylesheet" type="text/css" href="{% static 'ng/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script type="text/javascript">
    var url_logout = "{% url 'ng:logout' %}";
    var url_game = "{% url 'ng:game' %}";
    </script>
    <script src="{% static 'ng/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'ng/js.cookie.js' %}"></script>
    <script src="{% static 'ng/change_lang.js' %}"></script>
    <script src="{% static 'ng/script.js' %}"></script>
</head>

<body>
    <div class="ui grid">
        <!-- Header -->
        {% if context == "login" %} {% include "ng/header_login.html" %} {% elif context == "game" %} {% include "ng/header_game.html" %} {% endif %}
        <!-- Content -->
        {% if context == "login" %} {% include "ng/content_login.html" %} {% elif context == "game" %} {% include "ng/content_game.html" %} {% endif %}
        <!-- Footer -->
        {% include "ng/footer.html" %}
    </div>
</body>
{% csrf_token %}

</html>